name: style

on:
  pull_request:
    branches: [main]

jobs:
  Style:
    name: style
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: style
        run: npm run format:check